* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    padding: 20px 60px;
}

/* Border */
.Page {
    background-color: white;
    border-radius: 20px;
    padding: 40px 20px;
}

/* Info */
h1 {
    font-family: Anton;
    font-size: 5em;
    color: green;
    text-align: center;
    margin-bottom: 5px;
}

h2 {
    font-family: Anton;
    font-size: 3em;
    color: green;
    text-align: center;
    margin-bottom: 10px;
}

p {
    font-size: 1.1em;
    margin-bottom: 15px;
}

/* Did you know? */
.Knowledge {
    background-color: green;
    color: white;
    padding: 15px;
    border-radius: 25px;
    margin: 20px 0;
}

.Knowledge h3 {
    font-family: Anton;
    font-size: 2em;
    margin-bottom: 10px;
}

.Knowledge p {
    font-family: sans-serif;
    font-size: 1.1em;
}